*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/* body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #000;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
} */
.img_box_area{
	display: flex;
	width: 90%;
	height: 25vh;
	/* height: 30vh; */
	/* position: relative; */
	transition: all 1s ease-in-out;
}
.img_box{
	/* flex:0 0 20%; */
	background:url('./src/assets/services-bg.png');
	background-size: 500%;
	transition: all 1s ease-in-out;
} 
.img_box_area :hover{ 
	transform: scaleX(0.5);
} 
/* .img_box:nth-child(1){
	border-radius: 30px 0 0 30px;
	background-position: 0% center
}
.img_box:nth-child(2n){
	background-position: 25% center
}
.img_box:nth-child(3n){
	background-position: 50% center
}
.img_box:nth-child(4n){
	background-position: 75% center
}
.img_box:nth-child(5n){
	border-radius: 0 30px 30px 0;
	background-position: 100% center
} */


.img_box:nth-child(odd){
	transform: skewY(16deg);
}
.img_box:nth-child(even){
	transform: skewY(-16deg);
	filter: brightness(0.65);
}

